<li><a href="//avaloniaui.net">Home</a></li>
<li><a href="//docs.avaloniaui.net/docs">Documentation</a></li>
<li class="active"><a href="@Context.GetLink(Context.DirectoryPath(DocsKeys.ApiPath))">API</a></li>
