<li><a href="https://avaloniaui.net/">Home</a></li>
<li><a href="https://docs.avaloniaui.net/docs/next/welcome">Documentation</a></li>
<li class="active"><a href="@Context.GetLink(Context.DirectoryPath(DocsKeys.ApiPath))">API</a></li>
