<li><a href="//avaloniaui.net/blog">Blog</a></li>
<li><a href="//avaloniaui.net/support">Support</a></li>
<li><a href="//avaloniaui.net/docs">Documentation</a></li>
<li><a href="//avaloniaui.net/contributing">Contributing</a></li>
<li class="active"><a href="@Context.GetLink(Context.DirectoryPath(DocsKeys.ApiPath))">API</a></li>
<li><a href="https://github.com/AvaloniaUI/Avalonia">Source</a></li>
